# Gradle
.gradle/
build/
local.properties
**/build/
.idea/
**/.fleet/
**/.vscode/
.run/

# IntelliJ IDEA
*.iml
*.iws
*.ipr

# Android
*.apk
*.aab
*.ap_
*.dex
.externalNativeBuild/
.cxx/

# iOS & Xcode
xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.xcworkspace
Pods/
.build/

# Kotlin
*.class
*.log
*.ctxt
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
.kotlin/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Build and Debug dirs
bin/
gen/
out/

# KMP specific
.wasmkit/
.nodejs/
.compose/
composeApp/.gradle/
composeApp/build/
iosApp/Pods/
iosApp/iosApp.xcworkspace/
iosApp/iosApp.xcodeproj/xcuserdata/
